<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>

	{% extends 'bootstrap/base.html' %}
	{% import 'bootstrap/wtf.html' as wtf %}

	{% block content %}

        <div class="container">
		<h1>Login</h1>

			<form method="POST" action="{{ url_for('login') }}" novalidate>

				{{ wtf.quick_form(form, novalidate=True) }}

<!--    			{{ form.csrf_token }}-->
<!--				<p>-->
<!--					{{ form.email.label }} <br> {{ form.email(size=30) }}-->
<!--					{% for err in form.email.errors %}-->
<!--					<span> {{err}} </span>-->
<!--					{% endfor %}-->
<!--				</p>-->
<!--				<p>-->
<!--					{{ form.password.label }} <br> {{ form.password(size=30) }}-->
<!--					{% for err in form.password.errors %}-->
<!--					<span> {{err}} </span>-->
<!--					{% endfor %}-->
<!--				</p>-->
<!--				{{ form.submit }}-->

<!--    			<input type="submit" value="Log In">-->
			</form>

        </div>

	{% endblock %}

	</body>
</html>